---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="landing">
        <h1>Hi, I'm Aryaveer!</h1>
        <p>
            I'm an aspiring Software Developer from India! My current areas of
            interest include Compilers, Operating Systems, and Game Development.
            You can see what I'm working on right now on
            <a href="https://github.com/aryaveersr">Github.</a>
        </p>
    </div>
</BaseLayout>
